<!--Juego.cshtml
Muestra:
a. Nombre de usuario y puntaje actual
b. Número de pregunta actual y enunciado (Si hay foto la muestra)
c. Un formulario (POST) con 4 botones para elegir la respuesta correcta (Si las
respuestas tienen fotos, las muestra también como parte de la opción).
d. Un botón para responder y enviar el formulario (llama al método VerificarRespuesta
del controller).-->

@{
    ViewData["Title"] = "Home Page";
}

<!---->
        <div class="form_content">
                     <div class="question_title py-5 text-white">
                        <h1 class="text-center text-uppercase overflow-hidden rounded-pill">@ViewBag.Pregunta.Enunciado</h1>
                     </div>
                          <div class="row text-center form_items">
                     @foreach(Respuesta resp in @ViewBag.Respuestas)
                        {
                        
                         <div class="col-md-6 py-3">
                         
                               <label id="opt_1" class="step_1 bg-white overflow-hidden rounded-pill text-center">
                               @resp.Contenido
                                 <input for="opt_1" type="radio" name="stp_1_select_option" value="@resp.Contenido">
                              </label>
                           </div>
                            
                        }
                        <!--a href='@Url.Action("Juego", "Home", new{IdPregunta=@ViewBag.Preguntas})'class="btn btn-primary_ botonderecho">Siguiente</a-->
                              
      </div>
      </div>







                       
                    
